<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title학생 목록 조회</title>
</head>

<body>

	<h1>학생 목록 조회 버튼 클릭 시 비동기로 목록 조회/출력</h1>

	<h1 style="color:red">무조건 KH 계정으로 진행할 것!!</h1>

	<h3 style="color:green">문제점은 index.html, Controller, DTO에만 있음</h3>

	<pre>
[KH 계정에 MEMBER 테이블 생성]

DROP TABLE "STUDENT";

CREATE TABLE "STUDENT" (
    STUDENT_NO NUMBER PRIMARY KEY,
    NAME VARCHAR(100) NOT NULL,
    ADDRESS VARCHAR(50) NOT NULL,
    AGE NUMBER
);

CREATE SEQUENCE SEQ_STUDENT_NO;

INSERT INTO STUDENT VALUES (SEQ_STUDENT_NO.NEXTVAL, '학생일', '서울시 강남구', 12);
INSERT INTO STUDENT VALUES (SEQ_STUDENT_NO.NEXTVAL, '학생이', '서울시 강북구', 13);
INSERT INTO STUDENT VALUES (SEQ_STUDENT_NO.NEXTVAL, '학생삼', '서울시 성동구', 14);
INSERT INTO STUDENT VALUES (SEQ_STUDENT_NO.NEXTVAL, '학생사', '서울시 종로구', 15);
INSERT INTO STUDENT VALUES (SEQ_STUDENT_NO.NEXTVAL, '학생오', '서울시 성북구', 16);
COMMIT;	
	</pre>


	<button type="button" id="selectStudentListBtn">학생 목록 조회</button>

	<section id="studentListSection"></section>

</body>

<script>
	document.getElementById("selectStudentListBtn").addEventListener("click", function () {

		fetch("/student/selectAllList")
			.then(response => response.json())
			.then(data => {
				let studentListSection = document.getElementById("studentListSection");
				studentListSection.innerHTML = "";

				if (data.length === 0) {
					studentListSection.innerHTML = "<h1>등록된 학생이 없습니다</h1>";
				} else {
					const ul = document.createElement("ul");

					data.forEach(function (student) {
						var li = document.createElement("li");
						li.textContent = student.studentName;
						ul.appendChild(li);
					});

					studentListSection.appendChild(ul);
				}
			})
			.catch(error => console.error('Error:', error));
	});
</script>

</html>